@media only screen and (min-width: 320px) {
	nav {
		&.nav-master {
			&#nav-prof {
				ul {
					li {
						height: 70px;
					}
				}
			}
		}
		.brand-logo {
			height: 100%;
			margin-right: 0;
			margin-left: 10px;
			img, svg {
				width: 90px;
			}
			svg {margin-left: 85px;}
		}
		.side-nav {
			width: 225px;
			li {
				margin: 0 !important;
				width: 100%;
			}
			a {
				line-height: 70px !important;
				&.btn-flat {
					width: 100%;
					margin: 0 auto;
				}
				&#publish-post-submit {height: 100% !important;}
			}
			.divider {height: 1px;}
		}
		#wrapper-nav {
			width: 90% !important;
		}
		.mobile-ui {
			#nav-mobile {
				height: 72px !important;
				width: 100%;
			}
			.menu {
				padding: 0;
				vertical-align: middle;
				i {
					color: rgba(#000, .54);
				}
			}
			#sign-mobile {
				height: 100%;
				width: 100%;
				li {
					float: right;
					margin: 0 6px;
					a {
						margin: 0;
					}
				}
				li:nth-child(1) {margin-right: 0;}
			}
			#mobile-prof-sidemenu {
				height: 100%;
				padding: 0;
			}
			#logout {
				margin: 0 auto;
			}
		}
		#wrapper-nav {
			img.profilep-img {margin-top: 0;}
			#nav-mobile .loncengs i {padding-top: 8px;}
		}
		i.material-icons {
			font-size: 24px;
		}
	}
	section {
		&#bawah-home {
			#wrapper-card {margin-top: 35px !important;}
			#height-bg-layer {
				width: 90% !important;
				.card {
					height: 100%;
					.card-content {
						form {
							#row-cards {
								margin-bottom: 0;
							}
						}
					}
				}
			}
			#bawah-home-cards {width: 90% !important;}
		}
		&#atas-home {
			#wrapper-card {
				.wrapper-card-content {
					padding: 0;
					h5:nth-child(1) {
						margin-top: 0;
						padding-top: 20px;
					}
					.lhiw {margin-top: 20px;}
				}
			}
		}
		&#login {
			#wrapper-login {
				a {
					width: 100% !important;
					min-width: 268px;
					height: 35px;
					padding-top: 0;
					font-size: 12px;
					i {font-size: 24px !important;}
					&#fb {span {padding-left: 14px;}}
					&#gmail img {width: 24px;padding-top: 5px;}
				}
			}
			#head-login {
				font-size: 14px !important;
				margin: 15px 0 !important
			}
		}
		&#share {
			#wrapper-share-link {
				width: 100% !important;
				input {
					width: 212px !important;
				}
			}
		}
		&#atas-about {
			height: 100%;
			.container {width: 90% !important;padding: 0;}
			#bg-layer-about {
				background: url(../img/img.png) no-repeat 30% 100%;
				background-size: cover;
				height: 450px !important;
			}
		}
		&#bawah-about {
			.wrapper-about {
				padding: 0;
				width: 90% !important;
				p {margin-bottom: 40px;}
				p:nth-child(1) {
					margin-bottom: 50px;
					line-height: normal;
				}
			}
		}
		&#atas-panelis{
			#wrapper-atas-panelis {
				width: 90% !important;
				padding: 0;
			}
			#wrapper-atas-panelis-carousel {
				width: 90% !important;
				#wrapper-atas-panelis-inner{
					.carousel-panelis {
						.slick-list {
							width: 100% !important;
						}
					}
				}
			}
		}
		&#bawah-panelis {
			#wrapper-bawah-panelis {
				width: 90% !important;
				padding: 0;
				#wrapper-card-panelist {
					height: 200vh;
					.card {
						top: -200px;
					}
				}
			}
			.content-panelist {
				padding: 30px;
				margin: 30px 0;
				.row, #tp {
					width: 100%;
					margin: 0 auto;
				}
				.row{
					img {height: 120px;width: 100%;}
					.m2 {padding: 0;}
				}
				.row:nth-child(1) {
					display: block;
				}
				#tp {
					margin-top: 60px;
					margin-bottom: 30px;
				}
				#desc {padding-left: 0;}
				#content-panelist-img {
					width: 116px !important;
					height: 116px !important;
				}
				.tm {
					margin: 40px 0;
					#vw {
						.valign {padding-left: 0;}
					}
				}
			}
		}
		&#atas-contact {
			.container {
				padding: 0 40px;
				width: 90% !important;
			}
		}
		&#atas-tos, &#atas-pol {
			#bg-layer-about {
				padding: 0;
				width: 90% !important;
			}
			#heading-page {padding: 0;margin: 40px 0;}
		}
		&#atas-mine {
			.container {
				padding: 0;
				width: 90% !important;
				.row {
					height: 40px;
					margin: 30px 0;
					h3 {
						font-size: 24px;
						margin: 0;
					}
					a#write-post {
						font-size: 14px;
						padding: 0;
						margin: 0;
					}
				}
			}
		}
		&#bawah-mine {
			.container {
				padding: 0;
				width: 90% !important;
				.row {
					&.wrapper-mine-bawah {
						width: 100%;
						margin: 0 auto;
					}
				}
				#mine-kanan {
					.mng {
						a#del {
							padding-right: 0;
						}
					}
				}
				.judul {
					#vw {
						.valign {
							a {
								&:nth-child(1) {
									font-size: 22px !important;
								}
								&:nth-child(2) {
									font-size: 14px !important;
								}
							}
							.private {
								font-size: 10px !important;
							}
						}
					}
				}
			}
		}
		&#user {
			#wrapper-user {
				margin: 0 auto;
				padding-bottom: 0 !important;
				width: 90% !important;
				#card-user, #card-user-mobile {
					#wrapper-info-user {
						#sect-atas {
							width: 100% !important;
							height: 100% !important;
							figure {
								#profile-picture {
									img {
										width: 100% !important;
										height: 100% !important;
									}
								}
							}
						}
					}
				}
				#card-user-mobile {
					position: initial !important;
					#aside {
						margin: 0 auto;
						min-height: 0;
						width: 90% !important;
					}
				}
				#card-user-kanan {
				 	padding: initial;
				 	/*top: -710px;*/
				 	top: 0 !important;
				 	p#judul {
				 		font-size: 18px !important;
				 		/*margin: 35px 0;*/
				 		margin-bottom: 0;
				 		text-align: center;
						position: relative;
						top: -492px;
				 	}
				 	.container-timeline {
				 		top: 0 !important;
				 		margin-bottom: 0 !important;
				 		.timeline-content {
				 			.card {
				 				width: 97% !important;
				 			}
				 		}
				 	}
				 	.cardtopics {
				 		top: 0 !important;
				 		.row {width: 100%;margin: 0 auto;}
				 		.card {
				 			height: 100%;
				 			margin: 15px auto;
				 			.m4 {
				 				a.toggle-post {
				 					padding: 0 !important;
				 					margin-left: 16px;
				 				}
				 			}
				 		}
				 	}
				 	.wrapper-card-tabs {
				 		top: 0 !important;
					}
					.wrapper-info-user {
						padding: 40px 20px;
						.row {
							form {
								padding: 0 !important;
							}
						}
						.linked-sosmed {
							ul {
								padding: 0 15px !important;
								li {
									i {font-size: 24px !important;}
									a {font-size: 14px !important;}
									p {font-size: 12px !important;}
								}
							}
						}
					}
				 	ul {
				 		&.mng-user {
				 			top: 0 !important;
				 			&.mng-panelist {top: 50px !important;}
				 		}
				 	}
				 	#add-pan {
				 		a {
				 			top: 30px !important;
				 		}
				 	}
				 	#add-pan-modal {
				 		width: 100% !important;
				 		height: 100% !important;
				 		overflow-x: hidden;
				 		.m5 {
				 			left: 10%;
				 			padding: 25px 50px 0 !important;
			 				position: relative;
				 		}
				 		.up-btn {position: relative;}
				 		#photo-preview {
				 			left: 25px;
				 			position: relative;
				 		}
				 	}
				 	#tbh-pass, #ch-pass {
				 		top: 15% !important;
				 	}
				}
			}
		}
		&#form {
			#wrapper-form-create {
				padding: 0 !important;
				width: 90% !important;
			}
		}
		&#atas-post {
			#wrapper-bawah-post, #wrapper-share,
			#wrapper-atas-post-body, .wrapper-atas-post {
				padding: 0;
				width: 90% !important;
			}
			#wrapper-share {
				.card {
					width: 100% !important;
					.card-content {padding: 15px !important;}
				}
				.icons-kiri {
					padding:0 !important;
					a:nth-child(1) {padding-right: 0 !important;padding-left: 0 !important;}
					a {
						padding: 0px 4px !important;
						i {
							font-size:18px !important;
							margin-right: 0px !important;
						}
						span {font-size: 14px !important;}

					}
				}
				.icons-kanan {
					a {
						i {font-size: 18px !important;}
					}
				}
			}
			#wrapper-post-bodycontent {
				padding: 0;
				width: 100% !important;
				img.activator {height: 200px !important;}
				h1,h2,h3,h4,h5,h6 {width: 90%;}
				ul, ol {
					width: 90%;
					font-size: 22px;
					a {text-decoration: underline;}
				}
				// ol {
				// 	li {}
				// }
				// ul {
				// 	li {}
				// }
				p {
					font-size: 22px;
					width: 90%;
					iframe {
						width: 100%;
						height: 450px;
					}
				}
			}
			#wrapper-atas-post-body, .wrapper-atas-post {
				.row {
					width: 100% !important;
				}
			}
			#wrapper-post-headcontent {
				h5 {font-size: 16px !important;}
				h3 {font-size: 24px !important;}
			}
			.wrapper-atas-post {
				.wrapper-post-infoowner {
					&#bawah-post {
						.valign-wrapper {
							p {font-size: 12px !important;}
						}
						a img {
							width: 28px !important;
							height: 28px !important;
						}
					}
					.grey-text,.black-text {font-size: 12px !important;}
					&#kanan-post {
						margin-top: 0 !important;
						p {font-size: 12px !important;}
					}
				}
			}
		}
		&#bawah-post {
			#wrapper-bawah-post {
				padding: 0;
				width: 90% !important;
			}
		}
	}
	#comment-sect {
		#wrapper-popout {
			.card {
				.card-content {
					padding: 20px !important;
					#comment-header-kanan {
						.radio-btn-group {
							float: none;
							left: 19%;
							position: relative;
							.radio {
								label{
									font-size: 16px !important;
									height: 50% !important;
									padding: 12px !important;
								}
							}
						}
						p {
							font-size: 16px !important;
							margin-right: 0;
							text-align: center;
						}
					}
				}
			}
			#wrapper-comment-form {
				.m9, .m6 {
					padding: 0;
				}
			}
			textarea.materialize-textarea {
				font-size: 16px !important;
				&:focus:not([readonly]) {
					box-shadow: 0.35px 1px 0 0 #ffc107;
				}
			}
		}
	}
	#comment {
		#wrapper-comment-head {
			.m1 {
				width: initial !important;
			}
			.m11 {
				padding-left: 0 !important;
				margin-left: 0;
			}
		}
		#body-comment {
			p {
				font-size: 16px !important;
				margin: 22px 0 !important;
			}
		}
		.response-card {
			#body-reply-comment {
				p {
					font-size: 16px !important;
					margin: 22px 0 !important;
				}
			}
			.m10 {
				padding-left: 15px;
			}
		}
	}
	.comment-kiri {
		.black-text {font-size: 12px !important;}
		img {
			width: 28px !important;
			height: 28px !important;
		}
		a {
			i {
				font-size: 18px;
			}
		}
	}
	.comment-kanan {
		i {font-size:18px !important;}
		a.allreply {font-size: 12px !important;}
		.stat-cons {
			font-size: 12px !important;
			padding: 14px 9px !important;
			width: 65px !important;
		}
	}
	#comment-sect {
		#wrapper-popout {
			textarea.materialize-textarea {
				&:focus:not([readonly]) {
					box-shadow: 0 1px 0 0 #ffc107 !important;
				}
			}
			#comment-body-post {
				textarea.materialize-textarea {
					&:focus:not([readonly]) {
						box-shadow: 0.33px 1px 0 0 #ffc107;
					}
				}
			}
		}
	}
	#comment-body textarea.materialize-textarea,
	.comment-kiri #comment-body #comment-bodypost textarea.materialize-textarea,
	#comment-body #wrapper-popout #comment-bodypost textarea.materialize-textarea {
		font-size: 14px !important;
	}
	#btn-sort {
		p {margin-right: 10px;}
		a {
			font-size: 12px;
			padding: 0 13px;
		}
	}
	[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
		line-height: 3px !important;
	}
	.signup,.lhiw {margin-right: 0;}
	.modal-content .row .m12:nth-child(1),
	#modal-sect{
		.sign {font-size: 14px !important;}
		.loa {
			font-size: 10px;
			margin-top: 30px !important;
			a {font-size: 10px;}
		}
		#signin, #signup {
			.modal-content {
				padding: 35px 24px 0 24px;
				.row {
					.m12 {
						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(3),
						&:nth-child(4),
						&:nth-child(5) {
							padding: 10px 0;
						}
					}
					.input-field .prefix ~ input {
						width: 80% !important;
					}
				}
			}
			.modal-footer {
				a {
					min-width: 100%;
				}
			}
		}
		#signin {
			.modal-footer {
				.m6:nth-child(1) {
					a {
						text-align: right;
					}
				}
				.m6:nth-child(2) {
					margin-top: -7px;
					margin-bottom: 20px;
				}
			}
		}
		#signin, #signup {
			overflow-x: hidden;
			top: 15% !important;
			width: 100%;
			max-height: 100%;
		}
	}
	.logo-login .svg-black {
		width: 44vw;
	}
	#notif-mobile-header {
		margin-bottom: 0 !important;
		padding: 20px 20px 0 20px;
		width: 90%;
		.m6:nth-child(1) {
			p {
				margin: 0;
				font-weight: bold;
			}
		}
		.m6:nth-child(2) {
			text-align: right;
			a {
				color: #ffc107;
				&:hover {
					color: rgba(#000, .87);
				}
			}
		}
	}
	#form-post .activator img {height: 150px !important;}
	#form-post .select-wrapper .caret {top: 2px !important;left: inherit !important;}
	#form-post .mce-container .mce-flow-layout-item {margin: 0;}
	#ets, #ct, #del-top {
		top: 18% !important;
		width: 100% !important;
		.modal-footer {
			width: 109% !important;
		}
	}
}
@media only screen and (min-width: 375px) {
	section#user #wrapper-user #card-user-kanan p#judul {
		font-size: 22px !important;
		top: -532px;
	}
	section#share {
		#wrapper-share-link {
			input {
				width: 252px !important;
			}
		}
	}
	#comment-sect {
		#wrapper-popout {
			.card {
				.card-content {
					padding: 20px !important;
					#comment-header-kanan {
						.radio-btn-group {
							float: none;
							left: 19%;
							position: relative;
							.radio {
								label{
									font-size: 16px !important;
									height: 50% !important;
									padding: 12px !important;
								}
							}
						}
						p {
							font-size: 16px !important;
							margin-right: 0;
							text-align: center;
						}
					}
				}
			}
			#wrapper-comment-form {
				.m9, .m6 {
					padding: 0;
				}
			}
			textarea.materialize-textarea {
				&:focus:not([readonly]) {
					box-shadow: 0px 2px 0 -1px #ffc107 !important
				}
			}
			#comment-body-post {
				textarea.materialize-textarea {
					&:focus:not([readonly]) {
						box-shadow: 0.33px 1px 0 0 #ffc107;
					}
				}
			}
		}
	}
	#comment-sect #wrapper-popout
	.card .card-content #comment-header-kanan .radio-btn-group {
		left: 25%;
	}
	.comment-kanan a.allreply {
		padding: 0;
		margin-top: 1px;
	}
}
@media only screen and (min-width: 414px) {
	section {
		&#atas-post {
			.wrapper-atas-post {
				.wrapper-post-infoowner {
					.m2 {
						img {
							width: 48px;
							height: 48px;
						}
					}
					.m10 {margin-left: -32px;}
					.grey-text,.black-text {
						font-size: 14px !important;
					}
					&#bawah-post {
						.m2 {
							img {
								width: 34px !important;
								height: 34px !important;
							}
						}
						.m10 {margin-left: 0px;}
						.grey-text,.black-text {
							font-size: 12px !important;
						}
					}
				}
			}
		}
		&#user {
			#wrapper-user {
				#card-user-kanan {
					p#judul {
						font-size: 24px !important;
						top: -570px !important;
					}
				}
			}
		}
		&#share {
			#wrapper-share-link {
				input {
					width: 272px !important;
				}
			}
		}
	}
	#ets, #ct, #del-top {
		top: 18% !important;
		width: 100% !important;
		.modal-footer {
			width: 100% !important;
		}
	}
}
@media only screen and (min-width: 425px) {
	section#user #wrapper-user #card-user-kanan #add-pan-modal #photo-preview {
		left: 50px;
	}
	section#share {
		#wrapper-share-link {
			input {
				width: 272px !important;
			}
		}
	}
}
@media only screen and (min-width: 600px) {
	section#share #wrapper-share-link {
		width: 65% !important;
	}
}